    /* Mobile và Tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        padding-bottom: 100px;
    }
    .inner--header {
        display: block;
    }
    .c-header__list {
        display: block;
    }
    .c-header__item-logo {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .bar-box{
        display: block;
    }
    .c-header-overlay__mobile-1 {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 350px;
        max-width: 100%;
        background-color: #000;
        color: #fff;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform linear 0.3s, opacity linear 0.4s;
        z-index: 9999;
    }
    .c-header-overlay__close-1 {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 2.4rem;
    }

   .c-header__nav-input-1:checked ~ .c-header-overlay__mobile-1 {
       transform: translateX(0%);
       opacity: 1;
   } 
   .c-header-search-input {
       width: 100%;
   }
   .c-header-search__item {
        width: 100%;
        margin: 5px 0;
   }
   .c-header-search__list {
        display: flex;
        width: 100%;
   }
   .c-header-search__txt {
        line-height: 1.4;
   }
   .c-slider-holiday__inner {
        padding: 50px 0px;
   }
   .list-day-info__wrap {
       width: 100%;
   }
  
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-tablet {
        display: none;
    }
    .list-day__inner {
        flex-direction: column;
    }
}
/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .hide-on-mobile {
        display: none;
    }
    .c-slider-holiday__inner {
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 31px 0px;
    }
}